.Logo {
  display: flex;
  justify-content: center;

  .Tilt {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(89deg, #d1d77a 0%, #de04da 100%);

  }
}
