@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
    box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: "Anta", sans-serif;
    background: linear-gradient(89deg, #d1d77a 0%, #de04da 100%);
}

button {
    cursor: pointer;
}